.field-grid-child {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;

  & > label {
    grid-column-start: 1;
  }

  & > :where(input, select) {
    grid-column: span 2;

    border-bottom: solid 1px rgb(0, 0, 0, 0.5);

    &:focus {
      outline: none;
    }

    &:not(select) {
      padding-left: 4px;
    }
  }

  & > select {
    outline: none;
  }
}

.error-message {
  line-height: 0.75rem;
  color: var(--color-error);
  grid-column: span 3;
}
