.field-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.field-action-area {
  grid-column: span 2;

  &:focus {
    outline: none;
  }

  &:not(select) {
    padding-left: 4px;
  }
}

.field-action-area:is(select) {
  outline: none;
}

.error-message {
  line-height: 0.75rem;
  color: var(--color-error);
  grid-column: span 3;
}
