@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  .light-scheme,
  .auto-scheme {
    --medium-pink: 236 72 153;
    --medium-green: 34 197 94;
    --medium-red: 239 68 68;
    --medium-yellow: 234 179 8;

    --color-brand: var(--medium-pink);

    --html-brand-color: theme('colors.pink.500');

    --color-error: theme('colors.red.500');

    --color-bg-base-rgb: 248, 250, 252;
    --color-bg-base: theme('colors.slate.50');
    --color-bg-secondary: theme('colors.pink.50');

    --color-text-base: theme('colors.black');
    --color-text-invert: theme('colors.fuchsia.50');
    --color-text-accent: theme('colors.pink.500');

    --color-border-base: theme('colors.slate.400');

    --color-outline-base: theme('colors.fuchsia.400'/50%);

    --default-shadow-color: rgba(75, 75, 75, 0.5);
  }

  .dark-scheme {
    --color-bg-base: theme('colors.gray.500');
    --default-shadow-color: rgba(75, 75, 75, 0.8);
  }
  @media (prefers-color-scheme: dark) {
    .auto-scheme {
      --color-bg-base: theme('colors.gray.500');
      --default-shadow-color: rgba(75, 75, 75, 0.8);
    }
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
