//  [&>:not(span)]:shadow-sm [&>:not(span)]:drop-shadow-s

.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
  margin-bottom: 6px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  select,
  input {
    outline: 0;
    grid-column: span 2;
    border-bottom: 1px solid var(--color-border-base);

    padding: 1px 0 0 2px;
  }

  select {
    padding: 1px 0;
  }
}

.error-message {
  color: var(--color-error);
}

label {
  width: 30%;
  font-weight: 500;
  margin-bottom: 1px; // to level the difference with input border
}
